<div class="image d-flex justify-content-center">
    <div class="paragrap row d-flex align-items-sm-center">
        <div class="col">
            <div class="d-flex justify-content-center">
                <img src="assets/icon/Logo.png">
            </div>
        </div>
        <div class="col hero row w-100">
            <span class="heroheadline p-3 w-100">Welcome!</span>
            <span class="Dragonheadline p-3 w-100">Dragon Hotel</span>
            <div class="hero w-100 p-3">
                <button class="button hero-cta" [routerLink]="['booking']">Booking Now</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="paragraps row d-flex align-items-sm-center">
        <div class="col">
            <div class="d-flex justify-content-center">
                <img class="imageset" src="assets/room.jpeg">
            </div>

        </div>

        <div class="col hero row w-100">
            <div class="heroparagrap w-100">
                <span class="textheader">
                    Informations
                </span>
            </div>

            <span class="text">Suscipit fuga repudiandae molestiae voluptatem officia in neque. Eaque totam
                perferendis
                sequi id
                sequi excepturi veniam. Repellat velit asperiores temporibus voluptatem perspiciatis sed perferendis
                sint est.
            </span>
        </div>
    </div>
</div>

<mat-divider class="vl"></mat-divider>

<div class="d-flex justify-content-center">
    <div class="paragraps row d-flex align-items-sm-center">
        <div class="col hero row w-100">
            <div class="heroparagrap w-100">
                <span class="textheader">
                    Informations
                </span>
            </div>

            <span class="text">Suscipit fuga repudiandae molestiae voluptatem officia in neque. Eaque totam
                perferendis
                sequi id
                sequi excepturi veniam. Repellat velit asperiores temporibus voluptatem perspiciatis sed perferendis
                sint est.
            </span>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
                <img class="imageset" src="assets/room.jpeg">
            </div>

        </div>
    </div>
</div>
<mat-divider class="vl"></mat-divider>

<div class="d-flex justify-content-center">
    <div class="paragraps row d-flex align-items-sm-center">
        <div class="col">
            <div class="d-flex justify-content-center">
                <img class="imageset" src="assets/room.jpeg">
            </div>

        </div>

        <div class="col hero row w-100">
            <div class="heroparagrap w-100">
                <span class="textheader">
                    Informations
                </span>
            </div>

            <span class="text">Suscipit fuga repudiandae molestiae voluptatem officia in neque. Eaque totam
                perferendis
                sequi id
                sequi excepturi veniam. Repellat velit asperiores temporibus voluptatem perspiciatis sed perferendis
                sint est.
            </span>
        </div>
    </div>
</div>