<mat-card>
    <form #payForm="ngForm" (submit)="onSubmit(payForm)">
        <mat-card-header>
            <mat-card-title class="d-flex justify-content-between aling-items-center">
                <span>Pay</span>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </mat-card-title>
        </mat-card-header>

        <div class="d-flex justify-content-center col">
            <mat-card class="w-50">
                <span>
                    <h3 class="d-flex justify-content-center">ช่องทางการชำระเงิน</h3>
                    <p class="d-flex justify-content-center">ธนาคาร : กรุงเทพ</p>
                    <p class="d-flex justify-content-center">เลขที่บัญชี : 123-456-7890</p>
                    <p class="d-flex justify-content-center">ชื่อบัญชี : DragonHotel</p>
                    <p class="d-flex justify-content-center">หมายเหตุ : กรุญาทำการตรวยสอบยอดค่าใช้จ่ายตามใบแจ้งหนี้
                        และทำการชำระเงินภายในระยะเวลาที่กำหนด</p>
                </span>
            </mat-card>
        </div>

        <mat-card-content class="p-3">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="font">Room Number</mat-label>
                        <input [(ngModel)]="valueRoomnum" name="roomNum" matInput type="number" required>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="font">Full Name</mat-label>
                        <input [(ngModel)]="valueName" name="name" matInput required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="w-100 font" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <span matPrefix class="font">+66 &nbsp;</span>
                        <input [(ngModel)]="valuePhone" name="phoneNum" matInput type="number" required>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="font">Time</mat-label>
                        <input ngModel name="time" matInput type="time" required>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="font">Date</mat-label>
                        <input ngModel name="date" matInput type="date" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="font">จำนวนเงิน</mat-label>
                        <input ngModel name="amount" matInput type="number" required>
                    </mat-form-field>
                </div>

                <div class="col-md-6 ">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="font">ธนาคารที่โอนเงิน</mat-label>
                        <input ngModel name="bank" matInput required>
                    </mat-form-field>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-md-4" *ngIf="imagePreview">
                    <img class="img-fluid border" [src]="imagePreview" alt="">
                </div>
                <div class="col-md-8">
                    <button mat-stroked-button (click)="fileInput.click()" type="button">
                        <mat-icon>photo</mat-icon>
                        <span>Selec Image</span>
                    </button>
                    <input ngModel (change)="onPreview($event)" #fileInput type="file" accept="image/*">
                </div>
            </div>
        </mat-card-content>
    </form>
</mat-card>