<div class="row">
    <div class="col-md-4">
        <mat-card class="d-flex aling-items-center" [routerLink]="['/admin-booking']">
            <img class="icon mr-3" src="assets/icon/booking.png" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Booking</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>

    </div>
    <div class="col-md-4">
        <mat-card class="d-flex aling-items-center" [routerLink]="['/admin-report']">
            <img class="icon mr-3" src="assets/icon/note.png" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Report Problems</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>

    </div>
    <div class="col-md-4">
        <mat-card class="d-flex aling-items-center" [routerLink]="['/admin-checkout']">
            <img class="icon mr-3" src="assets/icon/check-out.png" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Check Out</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>

    </div>


</div>
<div class="row row-magin">
    <div class="col-md-4">
        <mat-card class="d-flex aling-items-center" [routerLink]="['/admin-pay']">
            <img class="icon mr-3" src="assets/icon/credit-card.png" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Pay</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card class="d-flex aling-items-center" [routerLink]="['/admin-usermanage']">
            <img class="icon mr-3" src="assets/icon/team.png" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">User manage</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card class="d-flex aling-items-center">
            <img class="icon mr-3" src="assets/icon/invoice.png" alt="">
            <div class="d-flex flex-column">
                <div class="h6 mb-0">Bill</div>
                <div class="h6 mb-0">0</div>
            </div>
        </mat-card>
    </div>
</div>