<div class="row">
    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>

        </div>
    </div>

    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>

        </div>
    </div>

    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>

        </div>
    </div>

    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>


    </div>
    <div class="col-md-4">
        <div class=" d-flex justify-content-center">
            <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex align-items-center d-flex justify-content-end">
                        <span class="h6">Mar23,07</span>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>